.rankings-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vertical-scroll-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1284px;
  padding: 20px;
  overflow-y: auto;
}