
/* Other CSS remains the same */
.rankings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

/* Container for the vertical stacking of tables */
.vertical-scroll-container {
    margin-top: 100px;
    align-items: center;
}

.rankings-single-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-height: 600px; /* Limit height to 600px */
    width: 100%; /* Ensure it takes full width */
    margin-bottom: 100px;
}

.rankings-header-container {
    background-color: white;
    z-index: 1; /* Keeps the header above the scrollable content */
    position: sticky;
    top: 0; /* Fixes the header at the top */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a shadow for better separation */
}


/* Table container that is scrollable */
.rankings-table {
    overflow-y: auto;  /* Enables vertical scrolling */
    max-height: 450px; /* Set a maximum height after which the container should scroll */
    width: 100%;       /* Adjust as necessary for your layout */
    border: 1px solid #ccc;
}

/* Styling for other elements remains the same */
.rankings-title-container {
    padding-top: 20px;
}

.rankings-title, .rankings-subtitle {
    margin: 0; /* Remove default margins */
}

.rankings-title {
    font-size: 24px;
    font-weight: bold;
}

.filters-container {
    display: flex;
    padding-bottom: 20px;
}

.filter-subcontainer {
    margin-right: 20px;
    width: 200px;
}

.filter-label {
    font-size: 14px;
    margin-bottom: 0px; 
}

select {
    width: 100%; /* Full width of container */
    padding: 6px;
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    background-color: white; /* Ensure background is white */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); /* Inner shadow for depth */
    cursor: pointer; /* Cursor to indicate it's selectable */
    font-size: 14px;
}

select:hover {
    border-color: #888; /* Change border on hover for feedback */
}

.player-row, .column-headers {
    display: flex;
    align-items: center;
}

.player-row {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.column-headers {
    background: linear-gradient(to right, rgb(48, 145, 177), rgb(21, 21, 79));
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.header-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.rank-header, .rank-column {
    min-width: 50px;
    text-align: center;
}

.rank-column {
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.player-header {
    min-width: 350px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #ffffff;
}

.player-column {
    min-width: 350px;
    display: flex;
    align-items: center;
}

.player-text-container {
    display: flex;
    flex-direction: column;
}

.player-title {
    font-size: 14px;
    font-weight: bold;
}

.player-subtitle {
    font-size: 12px;
    margin-top: -5px;
}

.group-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}

.stats-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border-left: 1px solid #ffffff;
}

.stat-header, .stat-column {
    min-width: 60px;
    text-align: center;
}

.stat-column {
    font-size: 14px;
}

.stat-headers-container {
    display: flex;
    justify-content: space-between;
}

.img-style {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

/* Skeleton loader row animation */
.skeleton-loader-row {
    background-color: #f0f0f0;
    animation: pulse 1.5s ease-in-out infinite;
    width: 100%;
}

@keyframes pulse {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #f0f0f0;
    }
}
