
.rankings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.vertical-scroll-container {
    margin-top: 100px;
    align-items: center;
}

.rankings-single-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-height: 600px;
    width: 100%;
    margin-bottom: 100px;
}

.rankings-header-container {
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

.rankings-table {
    overflow-y: auto;
    max-height: 450px;
    width: 100%;
    border: 1px solid #ccc;
}

.rankings-title-container {
    padding-top: 20px;
}

.rankings-title, .rankings-subtitle {
    margin: 0;
}

.rankings-title {
    font-size: 24px;
    font-weight: bold;
}

.filters-container {
    width: 660px;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.filter-subcontainer {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.filter-label {
    font-size: 12px;
}

select {
    width: 100%; /* Set a fixed width for select boxes */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

select:hover {
    border-color: #888; /* Visual feedback on hover */
}

.player-row, .column-headers {
    display: flex;
    align-items: center;
}

.player-row {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.player-row:hover {
    cursor: pointer;
    background-color: rgb(224, 222, 222)
}

.column-headers {
    background: linear-gradient(to right, rgb(48, 145, 177), rgb(21, 21, 79));
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.header-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.rank-header, .rank-column {
    min-width: 50px;
    text-align: center;
}

.rank-column {
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.player-header {
    min-width: 350px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #ffffff;
}

.player-column {
    min-width: 350px;
    display: flex;
    align-items: center;
}

.player-text-container {
    display: flex;
    flex-direction: column;
}

.player-title {
    font-size: 14px;
    font-weight: bold;
}

.player-subtitle {
    font-size: 12px;
    margin-top: -5px;
}

.group-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}

.stats-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border-left: 1px solid #ffffff;
}

.stat-header, .stat-column {
    min-width: 60px;
    text-align: center;
}

.stat-column {
    font-size: 14px;
}

.stat-headers-container {
    display: flex;
    justify-content: space-between;
}

.img-style {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

/* Skeleton loader row animation */
.skeleton-loader-row {
    background-color: #f0f0f0;
    animation: pulse 1.5s ease-in-out infinite;
    width: 100%;
}

@keyframes pulse {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #f0f0f0;
    }
}
